# SPDX-License-Identifier: Apache-2.0
typeattribute diamaneos_wlan_reporter coredomain;
type diamaneos_wlan_reporter_exec, exec_type, file_type, system_file_type;
init_daemon_domain(diamaneos_wlan_reporter)
binder_use(diamaneos_wlan_reporter)
type diamaneos_wlan_reporter_service, service_manager_type;
add_service(diamaneos_wlan_reporter, diamaneos_wlan_reporter_service)
allow diamaneos_wlan_reporter self:qipcrtr_socket { create bind getattr getopt read write };
allow diamaneos_wlan_reporter selinuxfs:file r_file_perms;

neverallow diamaneos_wlan_reporter self:global_capability_class_set *;
neverallow diamaneos_wlan_reporter self:global_capability2_class_set *;
neverallow diamaneos_wlan_reporter self:{ diamaneos_nonlocal_socket_classes } create;
neverallow diamaneos_wlan_reporter { data_file_type -coredump_file -method_trace_data_file }:file { create write append rename link unlink setattr };
neverallow diamaneos_wlan_reporter property_type:property_service set;
neverallow { domain -diamaneos_wlan_observer -servicemanager -su } diamaneos_wlan_reporter:binder call;
neverallow diamaneos_wlan_reporter { domain -servicemanager -system_server -su }:binder call;
