# SPDX-License-Identifier: Apache-2.0
# Platform lifecycle gate. Ordinary/user builds always start the selected service;
# debug-only nonpersistent kill controls cannot disable a later boot or release.
on property:ro.persistent_properties.ready=true
    start vendor.imsdcmd

on property:ro.debuggable=1 && property:vendor.diamaneos.ims.dcm_kill=1
    stop vendor.imsdcmd

on property:ro.debuggable=1 && property:vendor.diamaneos.ims.dcm_kill=0
    start vendor.imsdcmd
