<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-License-Identifier: Apache-2.0 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.diamaneos.wlanobserver">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RADIO_SCAN_WITHOUT_LOCATION" />
    <application android:name=".ObserverApp" android:label="Wi-Fi calling connectivity"
        android:persistent="true" android:directBootAware="true"
        android:defaultToDeviceProtectedStorage="true" android:allowBackup="false" />
</manifest>
